---
http_interactions:
- request:
    method: get
    uri: https://cdn-ind.testnet.deltaex.org/v2/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-In-Time:
      - '1774462474195799'
      Request-Out-Time:
      - '1774462474355721'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"after":null,"before":null,"limit":3000,"total_count":551},"result":[{"funding_method":"mark_price","settlement_price":null,"symbol":"C-BTC-68600-260326","contract_value":"0.001","tick_size":"0.5","insurance_fund_margin_contribution":"1","is_quanto":false,"spot_index":{"config":{"price_alert_enabled":true,"quoting_asset":"USD","service_id":1,"underlying_asset":"BTC"},"constituent_exchanges":[],"constituent_indices":{"expression":"${e1}
        * ${e2}","indices":{"e1":".DEXBTUSDT","e2":".DEUSDTUSD"}},"description":"","health_interval":300,"id":1,"impact_size":"1.000000000000000000","index_type":"spot_pair","is_composite":true,"price_method":"orderbook","quoting_asset_id":3,"symbol":".DEXBTUSD","tick_size":"0.500000000000000000","underlying_asset_id":2},"state":"live","launch_time":"2026-03-23T12:00:04Z","id":175903,"underlying_asset":{"base_withdrawal_fee":"0.000000000000000000","id":2,"interest_credit":false,"interest_slabs":null,"kyc_deposit_limit":"0.000000000000000000","kyc_withdrawal_limit":"0.000000000000000000","min_withdrawal_amount":"0.000000000000000000","minimum_precision":4,"name":"Bitcoin","networks":[],"precision":8,"sort_priority":1,"symbol":"BTC","variable_withdrawal_fee":"0.000000000000000000"},"settlement_time":"2026-03-26T12:00:00Z","product_specs":{"backup_vol_expiry_time":31536000,"max_deviation_from_external_vol":0.75,"max_lower_deviation_from_external_vol":0.75,"max_upper_deviation_from_external_vol":0.5,"max_volatility":3,"min_volatility":0.1,"only_reduce_only_orders_allowed":false,"premium_commission_rate":0.1,"vol_calculation_method":"orderbook","vol_expiry_time":31536000},"default_leverage":"200.000000000000000000","quoting_asset":{"base_withdrawal_fee":"0.000000000000000000","id":3,"interest_credit":false,"interest_slabs":null,"kyc_deposit_limit":"0.000000000000000000","kyc_withdrawal_limit":"0.000000000000000000","min_withdrawal_amount":"0.000000000000000000","minimum_precision":2,"name":"US
        Dollar","networks":[],"precision":8,"sort_priority":null,"symbol":"USD","variable_withdrawal_fee":"0.000000000000000000"},"short_description":"BTC  Call","initial_margin_scaling_factor":"0.00002","auction_start_time":"2026-03-23T12:00:04Z","disruption_reason":null,"auction_finish_time":null,"impact_size":10000,"position_size_limit":10000000,"maker_commission_rate":"0.0003","contract_unit_currency":"BTC","strike_price":"68600","price_band":"100","maintenance_margin":"0.25","taker_commission_rate":"0.0003","maintenance_margin_scaling_factor":"0.00001","liquidation_penalty_factor":"1","max_leverage_notional":"100000","basis_factor_max_limit":"10000","settling_asset":{"base_withdrawal_fee":"0.000000000000000000","id":3,"interest_credit":false,"interest_slabs":null,"kyc_deposit_limit":"0.000000000000000000","kyc_withdrawal_limit":"0.000000000000000000","min_withdrawal_amount":"0.000000000000000000","minimum_precision":2,"name":"US
        Dollar","networks":[],"precision":8,"sort_priority":null,"symbol":"USD","variable_withdrawal_fee":"0.000000000000000000"},"ui_config":{"default_trading_view_candle":"120","leverage_slider_values":[1,2,5,10,25,50,100,200],"price_clubbing_values":[0.01,0.1,0.5,1,2.5],"show_bracket_orders":false,"sort_priority":2,"tags":["New"]},"contract_type":"call_options","initial_margin":"0.5","trading_status":"operational","notional_type":"vanilla","description":"BTC
        call option expiring on 26-3-2026","annualized_funding":"0","barrier_price":null},{"funding_method":"mark_price","settlement_price":null,"symbol":"C-ETH-3000-240426","contract_value":"0.01","tick_size":"0.01","insurance_fund_margin_contribution":"1","is_quanto":false,"spot_index":{"config":{"price_alert_enabled":true,"quoting_asset":"USD","service_id":2,"underlying_asset":"ETH"},"constituent_exchanges":[],"constituent_indices":{"expression":"${e1}
        * ${e2}","indices":{"e1":".DEETHUSDT","e2":".DEUSDTUSD"}},"description":"","health_interval":300,"id":7,"impact_size[...]
