---
http_interactions:
- request:
    method: get
    uri: https://cdn-ind.testnet.deltaex.org/v2/positions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<API_KEY>"
      Timestamp:
      - "<TIMESTAMP>"
      Signature:
      - "<SIGNATURE>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-In-Time:
      - '1774462497781898'
      Request-Out-Time:
      - '1774462497782281'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalid_api_key"},"success":false}'
  recorded_at: Wed, 25 Mar 2026 18:14:57 GMT
recorded_with: VCR 6.4.0
