---
http_interactions:
- request:
    method: post
    uri: https://cdn-ind.testnet.deltaex.org/v2/orders
    body:
      encoding: UTF-8
      string: '{"product_id":27,"size":1,"side":"buy","order_type":"limit_order","limit_price":"25000"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<API_KEY>"
      Timestamp:
      - "<TIMESTAMP>"
      Signature:
      - "<SIGNATURE>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-In-Time:
      - '1774462497601224'
      Request-Out-Time:
      - '1774462497601567'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalid_api_key"},"success":false}'
  recorded_at: Wed, 25 Mar 2026 18:14:57 GMT
recorded_with: VCR 6.4.0
